.App {
  text-align: center;
  background:url('https://images.pexels.com/photos/164175/pexels-photo-164175.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
}
@media screen and (min-width: 761px){
  .App{
    height: 100vh;
    display: flex;
  }
}